.form-control{
    border: none !important;
    background-color: transparent !important;
    color: inherit !important;
    box-shadow: none !important;
    transition: none !important;
}
/*  !important : CSSを強制適用する
*/

/* ツールチップのコンテナ(ボタンの真上に固定) */
.custom-tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* ツールチップの本体 */
.custom-tooltip::before {
    content: attr(tooltip-text); /* data-tooltip属性からテキストを取得 */
    position: absolute;
    top: 100%; 
    right: 20%;
    padding: 4px 8px;
    border-radius: 4px;
    background-color: #0d6efd;
    color: #fff;
    font-size: 12px;
    white-space: nowrap;
    z-index: 1000;
}
